
MYSQL_ROOT_PASSWORD=somewordpress
MYSQL_DATABASE=********
MYSQL_USER=********
MYSQL_PASSWORD=********

DB_SERVER=mysql
PS_INSTALL_AUTO=1
DB_USER=********
DB_PASSWD=********
DB_NAME=********
PS_DOMAIN=localhost:8000
PS_FOLDER_INSTALL=installed
PS_FOLDER_ADMIN=admin123
ADMIN_MAIL=********
ADMIN_PASSWD=*******
