p.payment_module_bca a {
    display: block;
    border: 1px solid #d6d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 17px;
    line-height: 23px;
    color: #333333;
    font-weight: bold;
    padding: 33px 40px 34px 7px;
    letter-spacing: -1px;
    position: relative; }
p.payment_module_bca a.paystack:after {
  display: block;
  content: "\f054";
  position: absolute;
  right: 15px;
  margin-top: -11px;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  width: 14px;
  color: #777;
}
p.payment_module_bca a:hover {
  background-color: #f6f6f6; }
p.payment_module_bca a span {
  font-weight: bold;
  color: #777777; }    